.chatroom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75vh;
  padding-bottom: 100px
}

.messages {
  overflow-y: scroll;
}

.form-container {
  position: fixed;
  bottom: 77px;
  width: 100%;
  background-color: white;
}

.message-text-area {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid #ced4da;
  resize: vertical;
  width: 100%;
  margin-bottom: 15px;
}

.form-control {
  width: 46vh !important;
}

.btn-chatroom {
  position: relative;
  right: 54px;
  height: 60px;
}

.form-label {
  display: none;
}

.mb-3 {
  margin-bottom: 0px !important;
}
