.chatroom{
  height: 80vh;
  overflow: scroll;
  position: relative;
  background-color: #f4f4f4;
}

.chatroom__messages{
  height: 75%;
  overflow: scroll;
  padding: 1rem;
}

.chatroom__form{
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f4f4f4;
  margin-top: -25px;
  padding-bottom: 0px;
}

.chatroom__name{
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

.chatroom__messages-container{
  height:100%;
}

.file-upload-input {
  display: none;
}

#submit-chatroom{
  margin-bottom: 0px;
  margin-top:0px;
}

.header-chatroom{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 15px;
  background-color: #012a45;
  z-index: +1;
  width: 100%;
  height: 65px;
}
