.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 1rem;
  padding-top: 15px;
  background-color: #b6d9fb;
}

.notification-icon {
  margin-right: 10px;
  width: 67.75px;
  height: 61px;
  padding: 8px 17px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
}

.notification-icon i {
  font-size: 25px;
  text-decoration: none;
}

.fa-bell {
  color: black;
  text-decoration: none;
}


.container-dashboard {
  padding: 20px;
}

.dash-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  margin-bottom: 10px;
}

.dash-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  height: 15vh;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shift-card {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-shift-card {
  text-align: center;
}

.shifts-container {
  margin: 10px 0px;
}

a {
  text-decoration: none;
  color:  black;

  &:hover {
    text-decoration: none; // Optional: Removes underline on hover
  }
}
