// Specific CSS for your home-page
.home-body {
  background: #012a45;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-container h2 {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}

.brand-logo {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.home-title {
  color: #fff;
  font-size: 50px;
  margin-bottom: 20px;
}
