.notification-info {
  display: flex;
  align-items: center;
    .notif-time {
      font-size: 12px;
      color: lightgray;
    }
    img {
      margin-right: 5px;
    }
    i {
      padding: 10px;
      font-size: 25px;
    }
}

.container-notifications {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  height: 675px;
}

.container-notifications ul {
  margin-top: 58px;
}
