.profile-header {
  background-color: #b6d9fb;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    h1 {
      margin: 0px;
    }
    p {
      text-align: center;
    }
}

.shift-card-profile {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-width: 250px;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
    p {
      text-align: center;
      margin: 10px;
    }
}

.shifts-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;

}

.profile-avatar {
  height: 100px;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.button-select-display {
  display: flex;
  justify-content: center;
  margin: 5px;
  margin-top: -36px;
}

.edit-shifts {
  justify-self: stretch;
}


@media (max-width: 767.98px) {
  .shift-card-profile {
    max-width: 190px;
  }
  .shift-card-profile {
    padding: 15px;
  }
}
