.profile-header {
  padding: 50px;
  margin-bottom: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: beige;
    h1 {
      margin: 0px;
    }
    p {
      text-align: center;
    }
}

.shift-card {
  display: flex;
  align-items: center;
  padding: 10px;
  max-width: 175px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  position: relative;
    p {
      margin: 12px 5px 12px 12px;
    }
}

.shifts-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
}

.profile-avatar {
  height: 100px;
  width: 100%;
  border-radius: 24px;
  object-fit: cover;
}

.button-select-display {
  display: flex;
  justify-content: center;
  margin: 5px;
  margin-top: -36px;
}
