.profile-header {
  background-color: #b6d9fb;
  padding: 47px 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    h1 {
      margin: 0px;
    }
    p {
      text-align: center;
    }
}

.shift-card-profile {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  font-size: 15px;
  margin-bottom: 6px;
    p {
      font-size: 17px;
      margin-left: 5px;
    }
}

.shifts-display {
  display: flex;
  flex-direction: column;
}

.profile-avatar {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover
}

.button-select-display {
  display: flex;
  justify-content: center;
  margin: 5px;
  margin-top: -59px;
  font-size: 20px;
}

.task-item-profile {
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shift-icon-day {
  font-size: 17px;
  padding: 2px 0px 0px 0px;
  height: 25px;
  width: 25px;
  background-color: #ffff79;
  border-radius: 50%;
}

.shift-icon-night {
  font-size: 17px;
  padding: 2px 0px 0px 2px;
  height: 25px;
  width: 25px;
  background-color: #9a97ff;
  border-radius: 50%;
}
