.team-page-container {
  background: inherit body;
}

.team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-top: 15px;
  background-color: #b6d9fb;
}

.team-header h1 {
  margin: 0;
}

.team-search-bar {
  margin: 15px;
}

.team-input-search {
  background: #ffffff;
}

.img-search-btn {
  color: #b6d9fb;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-left: 3px;
  padding: 3px 7px;
}

.present-user {
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  height: 17vh;
  justify-content: space-evenly;
  border: 0px;
}

.present-user p {
  font-size: 12px
}

.absent-user p {
  font-size: 12px
}

.user-name {
  font-size: 15px;
}

.absent-user {
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  height: 17vh;
  justify-content: space-evenly;
  border: 0px;
}



.user-on-duty {
  padding-top: 15px;
}

.user-out {
  padding-top: 15px;
}
