<h1 class="home-title">CareComms</h1>
<body class="home-body">
<div class="logo-container">
  <%= image_tag "CareComms_logo.jpg", class: "brand-logo" %>
  <h2>Empowering care-teams through collaboration</h2>
</div>
</body>
