<div class='center-container'>
  <div class='welcome-card'>
    <h1>Hello <%= current_user.first_name %>!</h1>
    <%= link_to 'Start Shift', dashboard_path(started_shift: true), class: 'btn-start-shift' %>
    <%= link_to 'Go to Dashboard', dashboard_path, class: 'btn-start-shift' %>
  </div>
</div>
