<!-- app/views/mentions/index.html.erb -->

<div data-controller="mentions-updates shifts-updates">
<h1>Mentions</h1>

<h2>Mentioned in Comments</h2>
<% @mention_comments.each do |mention_comment| %>
  <%= render 'mentions/mention_comment', mention_comment: mention_comment %>
<% end %>

<h2>Mentioned in Messages</h2>
<% @mention_messages.each do |mention_message| %>
  <%= render 'mentions/mention_messages', mention_message: mention_message %>
<% end %>

<h2>Update in Shifts</h2>
<div id="shifts-container" data-controller="shift-updates"
     data-shift-updates-user-id-value="<%= current_user.id %>">
  <!-- This container will be updated with shift information by the Stimulus controller -->
  <p>Shift updates will be displayed here.</p>
</div>
</div>
