.edit-button {
  padding: -1px;
  border: 1px solid white;
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-radius: 50%
}

.button-select {
  padding: 10px 30px 7px 30px;
  border: 0px solid #dbdbdb;
  border-radius: 25px 25px 0px 0px;
  margin-left: 2px;
  background-color: #f4f4f4;
  color: #939393;
  margin-bottom: 10px;
}

.selected {
  color: #343434;
  font-weight: 600;
}

.select-form {
  max-width: 175px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.button-assign-shift {
  padding: 10px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  margin-bottom: 3px;
}

.button-calendar {
  padding: 5px 10px;
  border: 1px solid #dbdbdb;
  border-radius: 36px;
}
