.edit-button {
  padding: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
  position: absolute;
  right: 13px;
  bottom: 8px
}

.button-select {
  padding: 10px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  margin-right: 3px;
}

.select-form {
  max-width: 175px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.button-assign-shift {
  padding: 10px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
}

